


#modalBBtn {
    position: fixed;
    z-index: 22;
    /* box-shadow: ; */
    bottom: 28px;
    right: 28px;
    Border-radius: 6px;
}

.membersUl {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.membersUl li {
    padding: 5px 18px;
    border: 1px solid #ccc;
    margin: 4px 10px;
    border-radius: 16px;
    width: 180px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}
.membersUl li:hover {
    background-color: rgb(44, 44, 44);
    color: rgb(240, 240, 240);
    cursor: pointer;
    border: 1px solid rgb(56, 56, 56);
}


.addedMembers {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addedMembers li {
    padding: 5px 18px;
    /* border: 1px solid #ccc; */
    margin: 4px 10px;
    border-radius: 16px;
    width: 180px;
    text-align: center;
    font-weight: 500;
    color: white;
    background-color: rgb(36, 124, 14);
    overflow: hidden;
}