#questionUl{
    min-height: 240px;
    /* margin-left: 100px; */
    margin-bottom: 30px;
    text-transform: uppercase;
    /* border: 1px solid #ccc; */
}

#questionUl li{
    /* background-color: rgb(151, 94, 94); */
    border: none;
    border-bottom: 1px solid #ccc !important;
    margin: 10px 10px;
    width: 380px;
    display: flex;
    justify-content: space-between;
}
